<DOCTYPE html>
<head>
  <title>Onam</title>
</head>
<body>
  <h1 style="color:GREEN;" align="center">ONAM</h1><br>
  <center><img src="onam2.jpg" width="1000px" height="700px"</center><br>

  <p><h3>Onam (Malayalam: ഓണം) is an annual Hindu harvest festival celebrated in the Indian state of Kerala.A major annual event for Keralites, it is the official festival of the state and includes a spectrum of cultural events.Drawing from Hindu legends,Onam commemorates King Mahabali.

Within the textual tradition (prim. Mahabharata), Mahabali is noted to be an Asura, who found liberation at the feet of Vishnu through charity and religious rectitude.[11] However, there are other interpretations of the same myth-cycle.One version, situated within the Bali tradition, celebrates him as a lower-caste Dravidian who challenged Brahminic hegemony. In the state-sanctioned celebrations, Mahabali is portrayed as a cultural hero: a just and benevolent ruler, he chose to even give up his rule/life for protecting his subjects, and was allowed by Vamana to return once a year.

The festival probably has ancient origins and it became intricately linked with Hindu legends at some later date.The earliest known reference is found in Maturaikkāñci – a Sangam poem – which mentions Onam being celebrated in Madurai temples. Since then, multiple temple inscriptions record celebrations of Onam.The date is based on the Panchangam which falls on the 22nd nakshatra Thiruvonam in the month Chingam of Malayalam calendar, which in Gregorian calendar falls between August–September</h3><p>
</body>
</html>
