<DOCTYPE html>
<head>
  <title>festivals in India</title>
</head>
  <body>
    <h1 style="color:RED;" align="center">FESTIVALS IN INDIA</h1><br>
    <h2 align="center"><b>HOLI</b></h2>
    <center><a href="holi.html">
    <img src="holi.jpg" width="500px" height="700px"></a></center><br>
    
    <h2 align="center"><b>DIWALI</b></h2>
    <center><a href="diwali.html">
    <img src="diwali.jpg" width="500px" height="700px"></a></center><br>
    
    <h2 align="center"><b>ONAM</b></h2>
    <center><a href="onam.html">
    <img src="onam.jpg" width="500px" height="700px"></a></center><br>
    
    
  </body>
</html>

