body{background-color: yellow;}
h2{
   background-color:red;
  }
   .p1{
     text-align: center;
     color: red;
     background-color:#90EE90;
      }
   .p2{
      color:blue;background-color:white;
      }
   .p3{
      color:green;background-color:cyan;
      }
   .p4{
      color:maroon;background-color:pink;
      }
   .p5{
      color:yellow;background-color:red;
      }


